
body { background-color: hsl(212, 45%, 89%)}
.parent {background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
    width: 270px;
    height:410px;
}

img { margin-top: 13px;border-radius: 5%;
margin-left: 15px;}

.one { font-size: 19px;text-indent: 5px;
    margin-top: 15px;
    margin-left: 27px;
    font-family:'Outfit', sans-serif;
font-weight: bold;
color:hsl(218, 44%, 22%)

}

.two { font-size: 13px;text-indent: 5px;
    margin-top: 15px;
    margin-left: 27px;
    color:  hsl(220, 15%, 55%);
    margin-right: 0px;
font-family:'Outfit', sans-serif;}

span {margin-left: 70px;}